.main {
  width: 900px;
  height: 1200px;
  margin-top: 0;
  margin: auto;
  background-color: white;
}

.header {
  background-color: lightgrey;
  margin: 0;
  padding: 10px 20px;
}

.titlecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleimage {
  display: flex;
  width: 24px;
  height: 24px;
  margin-right: 224px;
}

.headerbar {
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 0px 36px;
  margin: 0px;
  color: white;
}

.headerbutton {
  display: flex;
  /* margin: 12px 6px; */
  padding: 8px 16px;
  border: 1px solid grey;
}

.content {
  padding: 12px 30px;
}

.recording {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  margin: auto;
  padding: 24px 0px;
}

body {
  margin: 0;
  background-color: grey;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}